@import './variables.scss';

body {
    font-size: 16px;
    background-color: $backgroundColor;
    color: $textValueColor;
}

a, a:visited {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
}

a:hover {
    color: gold;
}

h1 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 5rem;
    color: $siteHeaderColor;
}

h2 {
    font-size: 4rem;
}

h3 {
    color: white;
    font-size: 3.5rem;
}

.comingSoon {
    color: red;
    font-weight: bold;
}