$backgroundColor: #2d3941;
$numberValueColor: #269db3;
$displayLegendTextValueColor: #828282;
$textValueColor: #8a8a8a;

$containerBackground: #242424;
$containerTextColor: #919191;
$borderColor: #303030;

// Header Colors
$siteHeaderColor: #cf7a7a;